* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.fastfoodForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button__result {
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 23px 183px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.text {
    font-weight: bold;
}